<head>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
</head>


<!-- <div id="heading-goto" style="text-align: center; height: 10vh;">Go to the start
</div>
 -->

<%= render 'shared/goto_map' %>

<!-- <button type="button" class="btn btn-success btn-lg btn-block" style="height: 10vh;"> <%= link_to "PLAY TRACK", tour_track_path(@tour, @track) %></button> -->
<div>
  <div class="tour-header">

  </div>
  <%= link_to(tour_track_path(@tour, @track)) do   %>
    <button type="button" class="btn btn-gradient-goto btn-lg btn-block" id="goto-button">
      <h4><strong>PLAY TRACK</strong></h4></button>
  <%end%>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>





