<div class="tab-content">
  <div role="tabpanel" class="list-cards tab-pane active" id="1">
    <div style="margin-top: 20px;">
      <div class="index-content text-center ">
        <h3>Your favourites</h3>
        <% @favourites.each do |favourite| %>
          <%= render 'shared/card_v2', tour: favourite.tour %>
        <% end %>
      </div>
    </div>
  </div>

