<div class="form-container">
  <h2>My favourited tours</h2>

  <% if @favourites.nil? %>
    <p>You have not favourited any tours yet.</p>
  <% end %>

  <div class="index-content text-center ">
    <% @favourites.each do |favourite| %>
      <%= render 'shared/card_v2', tour: favourite.tour %>
    <% end %>
  </div>
</div>


