<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('http://i63.tinypic.com/2vai58o.jpg');">
  <div class="banner-content">
    <h1>Local Audio Tours</h1>
    <p>be different</p>
    <a class="btn btn-primary btn-lg" href='<%= tours_path%>'>begin</a>
  </div>
</div>







