<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://res.cloudinary.com/dm25xqrrj/image/upload/v1569749610/Layout%20pics/steven-lewis-r4He4Btlsro-unsplash.jpg');">
  <div class="banner-content">
    <img src="https://res.cloudinary.com/dm25xqrrj/image/upload/v1551938861/Logos/Tourio-black.png" alt="" class="avatar" style="height:80px">
    <br>
    <h1 style="margin-top: 6px;">tourio</h1>
    <br><br>
    <div class="typewriter">
      <h1>Live global.</h1>
    </div>
    <div class="typewriter" style="margin-top: 10px;">
      <h1>Experience local.</h1>
      <!-- <h1>Discover unique audio tours near you.</h1> -->
    </div>

    <br><br>

    <!-- <p>Geolocated audio tours by locals.</p> -->
    <a class="btn btn-success btn-lg" href='<%= tours_path%>'>START</a>
  </div>
</div>







