<h5 style="font-size: 10px;"><%=track.title%></h5>
<br>

<p><i class="fas fa-map-marker-alt">&nbsp;</i><%= track.location.capitalize %></p>
<p><i class="fas fa-clock">&nbsp;</i><%= rand(1..3) %> To change later</p>



