<!-- <h5 style="font-size: 15px;"><%=track.title%></h5>
<br>
 -->

<p style="font-size:14px"><%= track.location.capitalize %></p>
<p><i class="fas fa-clock">&nbsp;</i>Duration: <%= rand(5..10) %> minutes</p>



