<nav class="navbar navbar-expand-lg navbar-light">
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar__menu-btn">
      <img src="https://res.cloudinary.com/dm25xqrrj/image/upload/v1551938861/Logos/Tourio-white.png" alt="" class="avatar">
        <i class="fas fa-align-left navbar__menu-icon"></i>
        <!-- <span>Toggle Sidebar</span> -->
    </button>
</nav>
