<div>
  <button type="button" class="btn-lg btn-success" data-toggle="modal" data-target="#reviewModal" style="text-align: center;">
  Review Tour
  </button>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content review-modal">
      <div class="modal-header">
        <h5 class="review-modal-title" id="reviewModal" style="color:black;">Please leave a review for <%= @tour.title %>:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'reviews/modal_form', tour: @tour, review: @review %>
      </div>
    </div>
  </div>
</div>
