


<div class="container-reviews-box">
  <div class="row">
    <div class="col-12" id="review">
      <h3>REVIEWS</h3>
      <h6><strong><%= pluralize @tour.reviews.size, "review" %></strong></h6>

      <div class="reviews">
        <% if @tour.reviews.blank? %>
          <p style="font-size: 10px;">Be the first to leave a review for <%= @tour.title %></p>
        <% else %>
          <% @tour.reviews.each do |review| %>
          <p style="font-size: 16px"><%= review.content %></p>
          <hr style="margin-top: 5px; margin-bottom: 5px;">
          <% end %>

        <% end %>
      </div>
      <%= render 'reviews/form', tour: @tour, review: @review %>
    </div>
  </div>
</div>







