<div class="search-field">
  <%= form_tag tours_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    id: "search-bar",
    placeholder: "Find a tour near you"
    %>
  <%end%>
</div>

