
  <div class="search-container">
    <%= form_tag tours_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        id: "search-bar",
      placeholder: "Find a tour near you"
      %>
      <div class="form-inputs">
        <%= button_to :submit %>
      </div>
    <%end%>
  </div>

