<div class="top-navbar-wrapper">
  <div class="top-navbar">
    <img src="https://res.cloudinary.com/dm25xqrrj/image/upload/v1551938861/Logos/Tourio-white.png" alt="" class="avatar">
  </div>
</div>

