<div class="track-location-list">
  <h5 class="visited_places_heading">Spots we visit</h5>
  <% tracks = @tour.tracks %>
  <% tracks.each do |track| %>
      <p class="track-title" style="margin-bottom: 1px;">  <i style="color: #ff525e;" class="fas fa-map-marker-alt"></i>    <%= track.title %></p>
  <% end %>
</div>
