<div class="track-location-list">
  <h5 class="visited_places_heading">Visited Places</h5>
  <% tracks = @tour.tracks %>
  <% tracks.each do |track| %>
  <ul>
    <li>
      <p class="track-title"><%= track.title %></p>
    </li>
  </ul>
  <% end %>
</div>
