/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgba(20,20,20,0.9);
  transition: all 0.3s ease;
  height: 7vh;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 5;
}


/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-wagon-right a {
  margin: 40px;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

.navbar-wagon-item i {
  text-align: center;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}
.search-bar {
position: fixed;
    top: 0px;
    right: 20px;
        display: flex;
            z-index: 999;
}
.search-bar__button {
position: absolute;
    top: 25px;
    right: 5px;
    color: white;
}
.search-bar__form {
  width: 100vw;
    margin-right: -20px;
    background: #333;
    padding: 20px;

    input {
  background: none !important;
  border: 0 !important;
  border-radius: 0;
  padding: 0;
  color: white!important;
  border-bottom: 1px solid white!important;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    }
  }
}
