.search-container {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  margin-top:80px;
}

.search-field {
  width: 80%;
  height: 100%;
}

.search-filter{
  display:flex;
  flex-direction: flex-start;
  // justify-content: flex-start;
}
