.top-navbar-wrapper{
  background: rgba(20,20,20,0.9);
}

.top-navbar{
  color:white;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items: center;
  transition: all 0.3s ease;

  .avatar{
    height:40px;
    margin-right:10px;
  }
}



.search-container{

}

.overall-wrapper{
  background: rgba(40,40,40,0.9);
}

.index-content h3{
  color: white;
  // font-weight: bold;
  margin: 0 auto;
}
