
var newReview = `<li>
<p>Reviewed by <%= review.user.first_name %></p>
<p style="font-size: 16px"><%= review.content %></p>
</li>`

var reviews = document.querySelector('.reviews-list')

reviews.insertAdjacentHTML('beforeend', newReview)

var inputBox = document.getElementById('review_content')
inputBox.value = ""

